@model DQ.Scheduling.ViewModels.SchedulingEditViewModel

<fieldset>
    @Html.LabelFor(m => m.StartDateTimeEditor, T("Start"))
    @Html.EditorFor(m => m.StartDateTimeEditor)
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.EndDateTimeEditor, T("End"))
    @Html.EditorFor(m => m.EndDateTimeEditor)
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.IsAllDay, T("All day"))
    @Html.CheckBoxFor(m => m.IsAllDay)
    <span class="hint">@T("Check if the event lasts all day")</span>
</fieldset>

@using (Script.Foot())
{
    <script>

        (function ($) {

            var toggleCheckbox = $("#@Html.FieldIdFor(m => m.IsAllDay)");

            toggleCheckbox.change(function () {
                toggleTimeFields();
            });

            function toggleTimeFields() {
                $("#@Html.FieldIdFor(m => m.StartDateTimeEditor.Time)").parent().toggle();
                $("#@Html.FieldIdFor(m => m.EndDateTimeEditor.Time)").parent().toggle();
            }

            // initial
            if(toggleCheckbox.val() == true)
                toggleTimeFields();

        })(jQuery);
    </script>
}